:root {
    --navigation-background-color: darkblue; 
    --font-color-1: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav {
    background-color: var(--navigation-background-color);
    padding: 10px;
}

nav a {
    color: var(--font-color-1);
    display: block;
    padding: 20px;
}

h1  {
    color: var(--navigation-background-color);
}

main img {
    float:right;
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px;
}

main {
    max-width: 700px;
}

aside {
    max-width: 20em;
    width: 20rem;
    margin: 1rem;
    border: 1px rgb(00,00,00/0.2);
    padding: 1rem;
    background-color: var(--font-color-1);
    color: #333;
    
}

aside h2 {
    position: relative;
    top: 30px;
    left: 100;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    border-top: solid 2px black;
    margin-top: 1rem;
    text-align: center;
}

/* Class selectors*/

.box {
    width: 20em;
    margin: 1rem;
    padding: 1rem;
    border: 1px;
    background-color: lightblue;
    color: white;


}
aside {
    width: 20em;
    text-align: center;
    color: black;
}